.character {    
    display: grid;
    grid-gap: 50px;
    &.has-bg {
        padding: 150px 0;
        &.black {
            background: #000;
        }
        &.white {
            background: #fff;
        }
        &.blue {
            background: $blue;
        }
        &.green {
            background: $green;
        }
        &.gold {
            background: $gold;
        }
        &.pink {
            background: $pink;
        }
        &.purple {
            background: $purple;
        }
    }
    &.left {
        grid: auto / 40% 60%;
        @include breakpoint(sm-max) {
            grid: auto / 100%;           
        }
    }
    &.right {
        grid: auto / 60% 40%;
        @include breakpoint(sm-max) {
            grid: auto / 100%;        
        }
        .img {
            grid-column: 2;
            @include breakpoint(sm-max) {
                grid-column: 1;           
            }
        }
    }    
    .blurb {
        place-self: center end;
        .inner {
            position: relative;
            @include breakpoint(sm-max) {
                margin-top: 20px;
            }
            p {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .img {
            img {
                width: 100%;
            }
        }
    }
}