.character {    
    &.has-bg {
        &.black {
            background: #000;
            color: #fff;
        }
        &.white {
            background: #fff;
        }
        &.blue {
            background: $blue;
        }
        &.green {
            background: $green;
        }
        &.orange {
            background: $orange;
        }
        &.pink {
            background: $pink;
        }
        &.purple {
            background: $purple;
        }
        .img {
            margin-top: -50px;
        }
        .blurb {            
            padding: 150px 0;
        }
    }
    &.left {
        .inner {
            grid: auto / 450px 1fr;
            grid-auto-flow: dense;
            @include breakpoint(sm-max) {
                grid: auto / 100%;           
            }
        }
    }
    &.right {
        .inner {
            grid: auto / 1fr 450px;
            grid-auto-flow: dense;
            @include breakpoint(sm-max) {
                grid: auto / 100%;        
            }
            .img {
                grid-column: 2;
                @include breakpoint(sm-max) {
                    grid-column: 1;           
                }
            }
            
        }
    }  
    .inner {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 50px;
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 15px;
        width: 80%;
        @include breakpoint(sm-max) {            
            width: 100%;
        }
        .blurb {
            align-self: center;
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-size: 21px;
                line-height: 28px;
                margin-bottom: 30px;
            }
        }
        .img {
            padding-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }
}