.featured-media {   
    &.has-bg {
        padding: 60px;
        &.black {
            background: #000;
        }
        &.white {
            background: #fff;
        }
        &.blue {
            background: $blue;
        }
        &.green {
            background: $green;
        }
        &.orange {
            background: $orange;
        }
        &.pink {
            background: $pink;
        }
        &.purple {
            background: $purple;
        }
    }
    &.left {
        .inner {
            grid: auto / 40% 60%;
            @include breakpoint(sm-max) {
                grid: auto / 100%;           
            }
        }
    }
    &.right {
        .inner {
            grid: auto / 60% 40%;
            @include breakpoint(sm-max) {
                grid: auto / 100%;        
            }
            .img {
                grid-column: 2;
                @include breakpoint(sm-max) {
                    grid-column: 1;           
                }
            }
            
        }
    }  
    .inner {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 50px;
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 15px;
        width: 80%;
        @include breakpoint(sm-max) {            
            width: 100%;
        }
        .blurb {
            align-self: center;
            p {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .img {
            @include breakpoint(sm-max) {
                margin-bottom: 20px;
            }
            img {
                width: 100%;
            }
        }
    }
}