/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #ccc;
$md-gray: #5b616b;
$dk-gray: #232323;
$pink: #e81a5e;
$orange: #e4891e;
$gold: #e7ee31;
$green: #49a91b;
$blue: #185cc2;
$purple: #5a10a7;

$primary: $pink;
$secondary: $green;
$tertiary: $blue;

/*FONTS*/
$font-script: 'attack';
$font-lm: 'Lemon/Milk';
$font-super: 'supercomputerregular';
$font-wonder: 'wonderbarregular';
$font-sans: 'SF Pro', 'Source Sans Pro', sans-serif;
$font-serif: 'Roboto Slab', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);